{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@/action": "./action",
          "@/components": "./components",
          "@/containers": "./containers",
          "@/data": "./data",
          "@/hooks": "./hooks",
          "@/lib*": "./lib",
          "@/pages*": "./pages*",
          "@/assets": "./public/static",
          "@/reducers": "./reducers",
          "@/sagas": "./sagas",
          "@/store": "./store",
          "@/styles": "./styles",
          "@/types": "./types",
          "@/utils": "./utils"
        }
      }
    ]
  ]
}
